header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 50vh;
  
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header img {
  width: 25%;
  height: auto;
  filter: drop-shadow(0px 0px 20px rgb(255, 44, 44)) contrast(150%);
  margin-top: 50px;
  margin-bottom: 50px;  
}

@media (max-width: 768px) {
  header {
    min-height: 50vh;
  }

  header img {
    width: 50%;
  }
}
